<<<<<<< HEAD
/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

body {

}

	::-webkit-scrollbar {
		width: 0px;
	}
	
	.black {
		width:20;
		height:20;
		background: #f00
	}

/** GENERAL-USE CLASSES **/

	.small-rounded-corners {
	     -moz-border-radius: 5px;
	    -webkit-border-radius: 5px;
	    -khtml-border-radius: 5px;
	    border-radius: 5px;
	}

	.right-rounded-corners{
		-moz-border-radius-bottomright: 5px;
		border-bottom-right-radius: 5px;
		-moz-border-radius-topright: 5px;
		border-top-right-radius: 5px;
	}
	
/** END GENERAL USE CLASSES **/
	
/** PAGE WRAPPER **/
	
	.wrapper {
		width:100%;
		height:100%;
		margin:0;
		padding:0;
	}
	
/** END PAGE WRAPPER **/

/** SIDEBAR WRAPPER **/
	
	.sidebar {
		position:absolute;
		right:0px;
		height:100%;
		width:400px;
	}
	
/** END SIDEBAR WRAPPER **/
	
/** COMMENT SECTION **/
	
	.comments {
		height:100%;
		width:297px;
		float:left;
		background:#F1ECDF;
		border-left:3px solid #D4C9AD;
	}
	
	.comment-post {
		width:287px;
		padding:5px;
		position:absolute;
		bottom:0px;
	}
	
	.hidden-top {
		display:none;
		height:80px;
		top:0px;
		left: 300px;
		padding:25px;
		background:#F1ECDF;
	}
	
	.comment-post button {
		margin:0px 2px 0px 0px;
		height:75px;
		width:65px;
		float:right;
		background:#F58723;
		border:3px solid #e67f21;
		
		font-size:14px;
		color:#fff;
		text-transform:uppercase;
	}
	
	.comment-post button:hover {
		background: #e67f21;
		cursor:pointer;
	}
	
	.comment-post textarea {
		float:left;
		width:205px;
		height:68px;
		border: 2px solid #F58723;
	}
	
	.comment-stream {
		padding:10px;
		display:block;
		list-style:none;
	}
	
	.comment-stream li {
		border:2px solid #C7BA99;
		background-color:#D4C9AD;
		min-height:60px;
		margin:5px 0px;
	}
	
	.comment-stream li.reply {
		margin:5px 0px 5px 50px;
	}
	
	.comment-stream li.selected {
		border:2px solid #F58723;
	}
	
/** END COMMENT SECTION **/

/** THUMBNAIL SCROLLER **/
	
	.thumbnails {
		z-index:0;
		
		float:left;
		height:100%;
		width:100px;
		overflow:hidden;
		background: #111;
	}
	
	.thumbnail-list {
		z-index:2;
		display:block;
		list-style:none;
		padding:10px;
		position:relative;
	}
	
	.thumbnail-list li {
		z-index:3;
	
		position:relative;
		height:80px;
		width:80px;
		background:#000;
		margin-top: 15px;
		padding-bottom: 5px;
		border-bottom: 1px dashed #333;
	}
	
	.thumbnail_highlight{
		width:90px;
		height:90px;
		border-top: 10px solid #F1ECDF;
		border-right: 10px solid #F1ECDF;
		border-bottom: 10px solid #F1ECDF;
		position:absolute;
		top:15px;
		z-index:1000;
	}
	
	.thumb-reference {
		position:absolute;
		top:-7px;
		left:-7px;
		color:#fff;
	    width: 1.2em;
	    height: 1.2em;
	    line-height:1.2em;
	    text-align:center;
	    font-family:'Helvetica Neue', Helvetica, sans-serif;
	    font-weight:bold;
		font-size:14px;
		padding:2px;
	    text-shadow:0px 1px 0px rgba(0,0,0,.15);
	    -webkit-border-radius:1em;
	    -moz-border-radius:1em;
	    border-radius:1em;
		background: #ff5959;
	}
	
	.comment-count {
		padding:0px 0px 2px 2px;
		position:absolute;
		top:-7px;
		right:-7px;
		color:#fff;
	    width: 25px;
	    height: 21px;
	    line-height:1.2em;
	    text-align:center;
	    font-family:'Helvetica Neue', Helvetica, sans-serif;
	    font-weight:bold;
	    text-shadow:0px 1px 0px rgba(0,0,0,.15);
		background:url('../img/chat-icon.png') no-repeat;
	}
	
/** END THUMBNAIL SCROLLER **/

/** MAIN AREA **/
	
	.main {
		position:absolute;
		width:100%;
		left:0px;
		height:100%;
		background:#C7BA99;
	}
	
	.logo {
		position:absolute;
		top:0px;
		left:0px;
		margin:10px;
	}
	
	.logo img {
		height:40px;
	}
	
	.image_enlarged {
		height:100%;
	}

	.image_enlarged img {
		height:80%;
		float:right;
		margin-right:170px;
		margin-top:70px;
		border:3px solid #F1ECDF;
		
	}
	
/** END MAIN AREA **/

/** ADDITIONAL INFO TAB **/

.patient_info_tab{
	background-color:#F1ECDF;
	border:3px solid #F58723;
	border-left:0;
	top:80px;
	height:40px;
	width:40px;
	position:absolute;
	
}

.patient_info_tab:hover {
	background-color:#fff;
}

.patient_info{
	
  z-index:1;	
	width:0px;
	height:100%;
	position:absolute;
	background-color:#F1ECDF; 
	border-right:3px solid #D4C9AD;
}

.patient_info_tab_close {
	position:absolute;
	right:0;
	height:100%;
	width:80px;
	vertical-align:middle;
	text-align:center;
	background: #D4C9AD;
	border-left:3px solid #F58723;
}

.patient_info_tab_close:hover {
	background-color:#fff;
}



#open-img{
	width:25px;
	margin-left:8px;
	
	margin-top:7px;
}

.marker{
	background-image:url('../img/marker-active.png');
	width:40px;
	height:40px;
}

.marker-inactive{
	background-image:url('../img/marker-inactive.png');
	width:40px;
	height:40px;
}



.number_marker{
	position:absolute;
	top:15px;
	left:20px;
}



#close-img{
}
/** END ADDITIONAL INFO TAB **/




/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

	body {
		
	}

}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/

}
=======
/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

body {

}

	::-webkit-scrollbar {
		width: 0px;
	}
	
	.black {
		width:20;
		height:20;
		background: #f00
	}

/** GENERAL-USE CLASSES **/

	.small-rounded-corners {
	     -moz-border-radius: 5px;
	    -webkit-border-radius: 5px;
	    -khtml-border-radius: 5px;
	    border-radius: 5px;
	}

	.right-rounded-corners{
		-moz-border-radius-bottomright: 5px;
		border-bottom-right-radius: 5px;
		-moz-border-radius-topright: 5px;
		border-top-right-radius: 5px;
	}
	
/** END GENERAL USE CLASSES **/
	
/** PAGE WRAPPER **/
	
	.wrapper {
		width:100%;
		height:100%;
		margin:0;
		padding:0;
	}
	
/** END PAGE WRAPPER **/

/** SIDEBAR WRAPPER **/
	
	.sidebar {
		position:absolute;
		right:0px;
		height:100%;
		width:400px;
	}
	
/** END SIDEBAR WRAPPER **/
	
/** COMMENT SECTION **/
	
	.comments {
		height:100%;
		width:297px;
		float:left;
		background:#F1ECDF;
		border-left:3px solid #D4C9AD;
	}
	
	.comment-post {
		width:287px;
		padding:5px;
		position:absolute;
		bottom:0px;
	}
	
	.hidden-top {
		display:none;
		height:80px;
		top:0px;
		left: 300px;
		padding:25px;
		background:#F1ECDF;
	}
	
	.comment-post button {
		margin:0px 2px 0px 0px;
		height:75px;
		width:65px;
		float:right;
		background:#F58723;
		border:3px solid #e67f21;
		
		font-size:14px;
		color:#fff;
		text-transform:uppercase;
	}
	
	.comment-post button:hover {
		background: #e67f21;
		cursor:pointer;
	}
	
	.comment-post textarea {
		float:left;
		width:205px;
		height:68px;
		border: 2px solid #F58723;
	}
	
	.comment-stream {
		padding:10px;
		display:block;
		list-style:none;
	}
	
	.comment-stream li {
		border:2px solid #C7BA99;
		background-color:#D4C9AD;
		min-height:60px;
		margin:5px 0px;
	}
	
	.comment-stream li.reply {
		margin:5px 0px 5px 50px;
	}
	
	.comment-stream li.selected {
		border:2px solid #F58723;
	}
	
/** END COMMENT SECTION **/

/** THUMBNAIL SCROLLER **/
	
	.thumbnails {
		z-index:0;
		
		float:left;
		height:100%;
		width:100px;
		overflow:hidden;
		background: #111;
	}
	
	.thumbnail-list {
		z-index:2;
		display:block;
		list-style:none;
		padding:10px;
		position:relative;
	}
	
	.thumbnail-list li {
		z-index:3;
	
		position:relative;
		height:80px;
		width:80px;
		background:#000;
		margin-top: 15px;
		padding-bottom: 5px;
		border-bottom: 1px dashed #333;
	}
	
	.thumbnail_highlight{
		width:90px;
		height:90px;
		border-top: 10px solid #F1ECDF;
		border-right: 10px solid #F1ECDF;
		border-bottom: 10px solid #F1ECDF;
		position:absolute;
		top:15px;
		z-index:1000;
	}
	
	.thumb-reference {
		position:absolute;
		top:-7px;
		left:-7px;
		color:#fff;
	    width: 1.2em;
	    height: 1.2em;
	    line-height:1.2em;
	    text-align:center;
	    font-family:'Helvetica Neue', Helvetica, sans-serif;
	    font-weight:bold;
		font-size:14px;
		padding:2px;
	    text-shadow:0px 1px 0px rgba(0,0,0,.15);
	    -webkit-border-radius:1em;
	    -moz-border-radius:1em;
	    border-radius:1em;
		background: #ff5959;
	}
	
	.comment-count {
		padding:0px 0px 2px 2px;
		position:absolute;
		top:-7px;
		right:-7px;
		color:#fff;
	    width: 25px;
	    height: 21px;
	    line-height:1.2em;
	    text-align:center;
	    font-family:'Helvetica Neue', Helvetica, sans-serif;
	    font-weight:bold;
	    text-shadow:0px 1px 0px rgba(0,0,0,.15);
		background:url('../img/chat-icon.png') no-repeat;
	}
	
/** END THUMBNAIL SCROLLER **/

/** MAIN AREA **/
	
	.main {
		position:absolute;
		width:100%;
		left:0px;
		height:100%;
		background:#C7BA99;
	}
	
	.logo {
		position:absolute;
		top:0px;
		left:0px;
		margin:10px;
	}
	
	.logo img {
		height:40px;
	}
	
	.image_enlarged {
		height:100%;
	}

	.image_enlarged img {
		height:80%;
		float:right;
		margin-right:170px;
		margin-top:70px;
		border:3px solid #F1ECDF;
		
	}
	
/** END MAIN AREA **/

/** ADDITIONAL INFO TAB **/

.patient_info_tab{
	background-color:#F1ECDF;
	border:3px solid #F58723;
	border-left:0;
	top:80px;
	height:40px;
	width:40px;
	position:absolute;
	
}

.patient_info_tab:hover {
	background-color:#fff;
}

.patient_info{
	
  z-index:1;	
	width:0px;
	height:100%;
	position:absolute;
	background-color:#F1ECDF; 
	border-right:3px solid #D4C9AD;
}

.patient_info_tab_close {
	position:absolute;
	right:0;
	height:100%;
	width:80px;
	vertical-align:middle;
	text-align:center;
	background: #D4C9AD;
	border-left:3px solid #F58723;
}

.patient_info_tab_close:hover {
	background-color:#fff;
}



#open-img{
	width:25px;
	margin-left:8px;
	
	margin-top:7px;
}

.marker{
	background-image:url('../img/marker-active.png');
	width:40px;
	height:40px;
}

.number_marker{
	position:absolute;
	top:15px;
	left:20px;
}



#close-img{
	margin-top: 20px
}
/** END ADDITIONAL INFO TAB **/




/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

	body {
		
	}

}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/

}
>>>>>>> 9f662473e459a353962cdd0bd4ab19d3874fde70
